body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:431px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2506_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(235, 235, 235, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2506 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u2507 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2508_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2508 {
  position:absolute;
  left:374px;
  top:-151px;
  width:57px;
  height:16px;
}
#u2509 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2510_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:63px;
  background:inherit;
  background-color:rgba(58, 57, 62, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2510 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:63px;
}
#u2511 {
  position:absolute;
  left:2px;
  top:24px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2512_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u2512 {
  position:absolute;
  left:7px;
  top:8px;
  width:5px;
  height:5px;
}
#u2513 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2514_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u2514 {
  position:absolute;
  left:35px;
  top:8px;
  width:5px;
  height:5px;
}
#u2515 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2516_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u2516 {
  position:absolute;
  left:21px;
  top:8px;
  width:5px;
  height:5px;
}
#u2517 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2518_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u2518 {
  position:absolute;
  left:14px;
  top:8px;
  width:5px;
  height:5px;
}
#u2519 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2520_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u2520 {
  position:absolute;
  left:95px;
  top:2px;
  width:18px;
  height:16px;
  color:#FFFFFF;
}
#u2521 {
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u2522 {
  position:absolute;
  left:28px;
  top:8px;
  width:5px;
  height:5px;
}
#u2523 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2524_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u2524 {
  position:absolute;
  left:146px;
  top:1px;
  width:33px;
  height:16px;
  color:#FFFFFF;
}
#u2525 {
  position:absolute;
  left:2px;
  top:0px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2526_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:10px;
}
#u2526 {
  position:absolute;
  left:290px;
  top:5px;
  width:22px;
  height:10px;
}
#u2527 {
  position:absolute;
  left:2px;
  top:-3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u2528 {
  position:absolute;
  left:44px;
  top:3px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u2529 {
  position:absolute;
  left:2px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2530_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:8px;
}
#u2530 {
  position:absolute;
  left:291px;
  top:6px;
  width:20px;
  height:8px;
}
#u2531 {
  position:absolute;
  left:2px;
  top:-4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2532_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:8px;
}
#u2532 {
  position:absolute;
  left:291px;
  top:6px;
  width:14px;
  height:8px;
}
#u2533 {
  position:absolute;
  left:2px;
  top:-4px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2534_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:3px;
}
#u2534 {
  position:absolute;
  left:311px;
  top:8px;
  width:2px;
  height:3px;
}
#u2535 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2536_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2536 {
  position:absolute;
  left:4px;
  top:31px;
  width:25px;
  height:25px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u2537 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2538_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2538 {
  position:absolute;
  left:25px;
  top:32px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u2539 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2540_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u2540 {
  position:absolute;
  left:106px;
  top:33px;
  width:109px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u2541 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u2542_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2542 {
  position:absolute;
  left:278px;
  top:30px;
  width:24px;
  height:24px;
}
#u2543 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2544_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2544 {
  position:absolute;
  left:10px;
  top:73px;
  width:300px;
  height:180px;
}
#u2545 {
  position:absolute;
  left:2px;
  top:82px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2546_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2546 {
  position:absolute;
  left:32px;
  top:73px;
  width:27px;
  height:30px;
}
#u2547 {
  position:absolute;
  left:2px;
  top:7px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2548_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2548 {
  position:absolute;
  left:23px;
  top:127px;
  width:73px;
  height:73px;
}
#u2549 {
  position:absolute;
  left:2px;
  top:28px;
  width:69px;
  word-wrap:break-word;
}
#u2550_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:154px;
}
#u2550 {
  position:absolute;
  left:114px;
  top:87px;
  width:3px;
  height:151px;
}
#u2551 {
  position:absolute;
  left:2px;
  top:68px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2552_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2552 {
  position:absolute;
  left:132px;
  top:87px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u2553 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2554_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2554 {
  position:absolute;
  left:132px;
  top:110px;
  width:57px;
  height:16px;
}
#u2555 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2556_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2556 {
  position:absolute;
  left:128px;
  top:154px;
  width:20px;
  height:20px;
}
#u2557 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2558_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2558 {
  position:absolute;
  left:128px;
  top:190px;
  width:20px;
  height:20px;
}
#u2559 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2560_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
}
#u2560 {
  position:absolute;
  left:163px;
  top:158px;
  width:89px;
  height:16px;
}
#u2561 {
  position:absolute;
  left:2px;
  top:0px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2562_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
}
#u2562 {
  position:absolute;
  left:163px;
  top:194px;
  width:99px;
  height:16px;
}
#u2563 {
  position:absolute;
  left:2px;
  top:0px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2564 {
  position:absolute;
  left:0px;
  top:23px;
  width:68px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
