body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(235, 235, 235, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1155 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1156 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:63px;
  background:inherit;
  background-color:rgba(58, 57, 62, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1157 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:63px;
}
#u1158 {
  position:absolute;
  left:2px;
  top:24px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u1159 {
  position:absolute;
  left:7px;
  top:8px;
  width:5px;
  height:5px;
}
#u1160 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u1161 {
  position:absolute;
  left:35px;
  top:8px;
  width:5px;
  height:5px;
}
#u1162 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u1163 {
  position:absolute;
  left:21px;
  top:8px;
  width:5px;
  height:5px;
}
#u1164 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u1165 {
  position:absolute;
  left:14px;
  top:8px;
  width:5px;
  height:5px;
}
#u1166 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u1167 {
  position:absolute;
  left:95px;
  top:2px;
  width:18px;
  height:16px;
  color:#FFFFFF;
}
#u1168 {
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u1169 {
  position:absolute;
  left:28px;
  top:8px;
  width:5px;
  height:5px;
}
#u1170 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u1171 {
  position:absolute;
  left:146px;
  top:1px;
  width:33px;
  height:16px;
  color:#FFFFFF;
}
#u1172 {
  position:absolute;
  left:2px;
  top:0px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:10px;
}
#u1173 {
  position:absolute;
  left:290px;
  top:5px;
  width:22px;
  height:10px;
}
#u1174 {
  position:absolute;
  left:2px;
  top:-3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u1175 {
  position:absolute;
  left:44px;
  top:3px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u1176 {
  position:absolute;
  left:2px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:8px;
}
#u1177 {
  position:absolute;
  left:291px;
  top:6px;
  width:20px;
  height:8px;
}
#u1178 {
  position:absolute;
  left:2px;
  top:-4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:8px;
}
#u1179 {
  position:absolute;
  left:291px;
  top:6px;
  width:14px;
  height:8px;
}
#u1180 {
  position:absolute;
  left:2px;
  top:-4px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:3px;
}
#u1181 {
  position:absolute;
  left:311px;
  top:8px;
  width:2px;
  height:3px;
}
#u1182 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1183 {
  position:absolute;
  left:4px;
  top:31px;
  width:25px;
  height:25px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u1184 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1185 {
  position:absolute;
  left:25px;
  top:32px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u1186 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1187 {
  position:absolute;
  left:126px;
  top:33px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u1188 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1189 {
  position:absolute;
  left:278px;
  top:30px;
  width:24px;
  height:24px;
}
#u1190 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:206px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1191 {
  position:absolute;
  left:0px;
  top:91px;
  width:320px;
  height:206px;
}
#u1192 {
  position:absolute;
  left:2px;
  top:95px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
}
#u1193 {
  position:absolute;
  left:7px;
  top:106px;
  width:82px;
  height:24px;
  font-size:16px;
}
#u1194 {
  position:absolute;
  left:2px;
  top:4px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1195 {
  position:absolute;
  left:128px;
  top:123px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1196 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u1197 {
  position:absolute;
  left:96px;
  top:152px;
  width:129px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u1198 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#C9C9C9;
}
#u1199 {
  position:absolute;
  left:45px;
  top:197px;
  width:237px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#C9C9C9;
}
#u1200 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  white-space:nowrap;
}
#u1201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u1201 {
  position:absolute;
  left:84px;
  top:239px;
  width:155px;
  height:31px;
  font-size:16px;
  color:#000000;
}
#u1202 {
  position:absolute;
  left:2px;
  top:6px;
  width:151px;
  word-wrap:break-word;
}
#u1203 {
  position:absolute;
  left:0px;
  top:23px;
  width:68px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
